/nbproject/private/
/AuctionWebApp/nbproject/private/
/build/
/dist/
/AuctionClient/nbproject/private/
/AuctionClient/dist/
/AuctionClient/build/
/AuctionWebAppClient/nbproject/private/
/AuctionWebAppClient/build/
/AuctionWebAppClient/dist/
/ApplicationClient1/nbproject/private/
/ApplicationClient1/build/
/ApplicationClient1/dist/
/AuctionWebAppClientSOAP/nbproject/private/
/AuctionWebAppClientSOAP/build/
/AuctionWebAppClientSOAP/dist/
