/nbproject/private/
/build/
/dist/
/AuctionClient/nbproject/private/
/AuctionClient/dist/
/AuctionClient/build/
/AuctionWebAppClient/nbproject/private/
/AuctionWebAppClient/build/
/AuctionWebAppClient/dist/